body{
    width: 100vw;
    height: 100vh;
    margin:0;
    max-width: 100%;
    overflow-x: hidden;
}

/* text */
h1{
    margin: 0;
    justify-self: center;
}

/* wrapper */
.wrapper{
    height: auto;
    width: 100%;
    background-image: url(../img/Water-1600x900-edited40.jpg);
    background-repeat: no-repeat;
    background-position: sticky;
    background-attachment: fixed;
}

/* header */
header{
    /* background-color: orange; */
    height: auto;
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2rem;
}

.home_button{
    text-decoration: none;
    color: white;
    grid-column: span 3;
    justify-self: center;
    font-size: 2.5rem;
}

/* main */
.main{
    padding: 20px;
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    background-color: orange;
    width: 100%;
    min-height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_img{
    background-image: url(../../site/img/about_carp_313336.png);
    grid-row: all;
    width: 300px;
    height: 300px;
}

/* gallery */
.gallery{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

.img{
    border-width: 10px;
    height: 100px;
    width: 100px;
    border-color: white;
    

}

/*about_us*/
.about_us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 50px auto;
    min-height: 200px;
    height: auto;
    width: 30rem;
    background-color: orange;
    margin: 10px;
}

#profile_img_gabriella{
    grid-row: span 2;
    background-image: url(../../site/img/about_carp_313336.png) 


}

#profile_img_martin{
    grid-row: span 2;
    background-image: url(../../site/img/about_carp_313336.png) 

}

/* footer */
footer{
    /* background-color: orange; */
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

