body{
    width: 100vw;
    height: 100vh;
    margin:0;
    max-width: 100%;
    /* overflow-x: hidden; */
    font-family: Arial, Helvetica, sans-serif;
}

/* text */

h1{
    margin: 0;
    justify-self: center;
}

h2{
    margin: 0;
}

h3{
    font-size: 1.5rem;
    margin: 10px 0 0 0;
}

p{
    margin: 0;
}

/* wrapper */
.wrapper{
    height: auto;
    width: 100%;
    background-image: url(../img/Water-1600x900-edited40.jpg);
    background-repeat: no-repeat;
    background-position: sticky;
    background-attachment: fixed;
}

/* header */
header{
    /* background-color: orange; */
    height: auto;
    width: 100%;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    color: white;
    align-items: center;
}

.home_button{
    width: 100px;
    height: 100px;
    margin: 20px;
    align-self: center;
    background-color: red;
}

.title{
    font-size: 2.5rem;
    margin: 20px 0;
}


/* main */
.main{
    padding: 20px;
    height: 65vh;
    width: 100%;
    display: grid;
    grid-template-areas: 
        'p img'
        '. img'
        '. img';
    grid-template-columns: 400px auto;
    color: white;
}

.btn{
    background-color: orange;
    width: 100%;
    min-height: 1.8rem;
    border-radius: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a.btn{
    padding: 0.4rem;
    font-size: 1.5rem;
    text-decoration: none;
}

.main_img{
    grid-row: all;
    height: 90%;
    grid-area: img;
    justify-self: center;
}

/* gallery */
.gallery{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



img{
    border-width: 5px;
    background: transparent no-repeat center;
    border-color: white;
    margin: 10px;
    background-size: contain;
}

.img{
    height: 300px;
}

/*about_us*/
.about_us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile{
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: auto auto;
    min-height: 200px;
    grid-gap: 20px;
    padding: 20px;
    height: auto;
    width: 30rem;
    background-color: orange;
    margin: 10px;
    border-radius: 0.9rem;
}

#profile_img_gabriella{
    grid-row: span 2;
    background-image: url(../img/koi/japanese-koi-500x500.jpg); 
    border-width: 5px;
    border-color: white;
    width: 200px;
    height: 200px;
}

#profile_img_martin{
    grid-row: span 2;
    background-image: url(../../site/img/koi/koikarp-617x411.jpg);
    width: 200px;
    height: 200px;
}

/* footer */
footer{
    /* background-color: orange; */
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

